<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingredient Catalogue</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Ingredient Catalogue</h1>

    <p>Don't see what you are looking for? Add it to our list!</p>

    <% if (ingredients && ingredients.length > 0) { %>
        <ul>
            <% ingredients.forEach(ingredient => { %>
                <li><%= ingredient.name %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No ingredients yet.</p>
    <% } %>

    <h2>Add New Ingredient</h2>
    <form action="/ingredients" method="POST">
        Name: <input type="text" name="name"><br>
        <input type="submit" value="Add Ingredient">
    </form>
</body>
</html>