<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Food</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/users/<%= user._id %>/foods" method="POST">
      <label for="Name">Name:</label>
      <input type="text" name="name" id="name">
      <button type="submit">Add Food to Pantry</button>
    </form>
  </body>
</html>